{% extends "base.html" %}

{% block title %}Carros{% endblock %}

{% block content %}
<!-- Jumbotron -->
<div class="jumbotron" style="background-image: url('{{ url_for('static', filename='images/miata1.jpg') }}');">
    <div class="jumbotron-text">
        <div>
            <h1 class="titulocapa">Exemplos de Carros por Tipo de Motor</h1>
            <p class="lead">Conheça alguns exemplos de carros que utilizam cada tipo de motor automotivo.</p>
        </div>
    </div>
</div>

<!-- Conteúdo -->
<div class="container features-container">
    <section id="carros-inline" class="feature">
        <h2>Motor em Linha</h2>
        <p>O Opala Diplomata, fabricado pela General Motors do Brasil, é um ícone dos motores em linha. Reconhecido por sua elegância e desempenho, o Opala é um carro clássico que marcou época nas estradas brasileiras. Seu motor em linha proporcionava uma condução suave e confiável, tornando-o uma escolha popular entre os entusiastas de automóveis.</p>
        <img id="images" src="{{ url_for('static', filename='images/diplomata1.webp') }}" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Fquatrorodas.abril.com.br%2Fcarros-classicos%2Fgrandes-brasileiros-chevrolet-opala-diplomata-se&psig=AOvVaw2mesUGKjXz-2yaOm3obSrk&ust=1714497509878000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPCboIr354UDFQAAAAAdAAAAABBd">
        <!-- Adicione aqui a lista de carros com motor em linha -->
    </section>

    <section id="carros-v" class="feature">
        <h2>Motor em V</h2>
        <p>O Galaxie Landau é um dos representantes mais emblemáticos dos motores em V. Produzido pela Ford, este sedã de luxo impressionava com seu design imponente e conforto excepcional. Equipado com um poderoso motor em V, o Galaxie oferecia uma combinação de potência e sofisticação que o tornava uma escolha popular entre os motoristas exigentes.</p>
        <img id="images" src="{{ url_for('static', filename='images/landau.webp') }}" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Fquatrorodas.abril.com.br%2Fnoticias%2Fclassicos-ford-landau-o-seda-v8-luxuoso-que-ja-deixou-o-presidente-a-pe&psig=AOvVaw2_IZ0Eyz4LbyThxAtxWs_P&ust=1714497636143000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMDNscb354UDFQAAAAAdAAAAABAZ">
        <!-- Adicione aqui a lista de carros com motor em V -->
    </section>

    <section id="carros-w" class="feature">
        <h2>Motor em W</h2>
        <p>O Bugatti Veyron é uma obra-prima da engenharia automotiva, conhecido por seu motor em W e desempenho extraordinário. Como um dos carros de produção mais rápidos do mundo, o Veyron redefine os limites da velocidade e do luxo. Cada detalhe deste supercarro foi projetado para proporcionar uma experiência de condução incomparável, tornando-o um símbolo de excelência e inovação.</p>
        <img id="images" src="{{ url_for('static', filename='images/bugatti.png') }}" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.bugatti.com%2Fthe-bugatti-heritage%2Fmodern-icons%2Fveyron%2Fveyron-164-super-sport%2F&psig=AOvVaw3X8hze2oXBedDZezGn3hQz&ust=1714497653149000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMiCv87354UDFQAAAAAdAAAAABAE">
        <!-- Adicione aqui a lista de carros com motor em W -->
    </section>

    <section id="carros-boxer" class="feature">
        <h2>Motor Boxer</h2>
        <p>O Subaru Impreza é famoso por seu motor Boxer, que oferece um centro de gravidade baixo e uma dirigibilidade excepcional. Conhecido por sua tração nas quatro rodas e desempenho dinâmico, o Impreza conquistou uma base de fãs leais em todo o mundo. Seu motor Boxer proporciona uma distribuição de peso ideal, resultando em uma experiência de condução ágil e emocionante.</p>
        <img id="images" src="{{ url_for('static', filename='images/impreza.jpg') }}" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.kavak.com%2Fbr%2Fblog%2Fsubaru-impreza-e-esportivo-wrx-sti&psig=AOvVaw1B0k188iTBHntkvDv6upwl&ust=1714497676540000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKC68dn354UDFQAAAAAdAAAAABAE">
        <!-- Adicione aqui a lista de carros com motor Boxer -->
    </section>
</div>

<!-- Rodapé -->
<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        &copy; 2024 Motores Automotivos
    </div>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
