/* Estilos gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
    font: #000;
    background-color: #C2C5CC;
}

/* Navbar */
.navbar {
    margin-bottom: 20px; /* Adiciona espaço abaixo da navbar */
}

/* Jumbotron */
.jumbotron {
    background-color: #333;
    color: #ffffff;
    padding: 100px;
    margin-bottom: 0; /* Remove o espaço extra do jumbotron */
    margin-top: -20px;
    background-repeat: no-repeat;
}

/* Conteúdo */
.features-container {
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature {
    text-align: center;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
    margin-bottom: 40px; /* Espaçamento entre as caixas */
    width: 80%; /* Largura das caixas */
    max-width: 600px; /* Largura máxima */
    background-color: #838A92;
    max-width: 125%;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 3px #00000091;
}

.feature:nth-child(odd) {
    margin-left: auto; /* Define a margem esquerda automática para as caixas ímpares */
    text-align: right; /* Alinha o texto à direita */
}

.feature:nth-child(even) {
    margin-right: auto; /* Define a margem direita automática para as caixas pares */
    text-align: left; /* Alinha o texto à esquerda */
}

.feature img {
    max-width: 100%;
}

/* Rodapé */
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    padding: 20px 0; /* Espaçamento interno do rodapé */
}


#jumbotron1{
    height: 1000px;
}
.images{
    width: 55%;
    border-radius: 20px;
}
#images{
    width: 80%;
    border-radius: 20px;
}
#capa1{
    opacity: 80%;
}
.jumbotron .for-about {
    padding-top: 250px; /* Ajuste o valor conforme necessário */
}

@media screen and (max-width: 768px) {
    /* Estilos para telas menores que 768px de largura */
    .feature {
        width: 90%; /* Reduz a largura das caixas */
    }
    .jumbotron {
        padding: 50px; /* Reduz o preenchimento do jumbotron */
    }
    .jumbotron .for-about {
        padding-top: 150px; /* Ajusta o espaçamento do conteúdo no jumbotron */
    }
    .display-4 {
        margin-top: -100px; /* Ajusta a margem superior do título */
        margin-left: -50px; /* Ajusta a margem esquerda do título */
        font-size: 2rem; /* Reduz o tamanho da fonte do título */
    }
    .lead {
        margin-top: 50px; /* Ajusta a margem superior do texto de introdução */
        margin-left: -40px; /* Ajusta a margem esquerda do texto de introdução */
        font-size: 1rem; /* Reduz o tamanho da fonte do texto de introdução */
    }
}

@media screen and (max-width: 576px) {
    /* Estilos para telas menores que 576px de largura */
    .display-4 {
        font-size: 1.5rem; /* Reduz ainda mais o tamanho da fonte do display-4 */
    }
    .lead {
        font-size: 1rem; /* Reduz ainda mais o tamanho da fonte do lead */
    }
}