{%extends 'base.html'%}
{%block title%} Home {%endblock%}
{%block content%}

<body style="background-image: url(./static/imagens/fundo.png)">
    <!--Cabeçalho-->
    <div class="container">
        <div>
            <img src="./static/imagens/logo.png" alt="logo">
        </div>
        <div>
            <span>
                <a href="/">Home</a>&nbsp;|&nbsp;
                <a href="/quemsomos">Quem somos</a>&nbsp;|&nbsp;
                <a href="/contato">Contato</a>
            </span>
        </div>

    </div>
    <div class="capa">
        <img src="./static/imagens/capa.png">
    </div>
    <div>
        <h1 class="titulo"><strong>Sobre a Universidade</strong></h1>
    </div>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis tenetur cumque inventore eaque pariatur
        iure error vel sunt fuga assumenda, et, harum mollitia, porro exercitationem illum suscipit. Quidem, dolorem
        quos?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, cumque iure quod consequuntur iste labore?
        Provident, magnam aliquid et totam necessitatibus deserunt, possimus corporis officia labore fugit eius
        veritatis blanditiis.<br><br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio nobis omnis architecto officiis possimus,
        veritatis ea voluptates deleniti tenetur consequuntur nisi, perferendis rem. Architecto omnis dolores odit
        mollitia ullam magnam!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos alias ea ipsum culpa delectus nemo, optio maxime,
        cum exercitationem error aspernatur, atque velit eligendi natus iure laboriosam voluptate sunt!
        Necessitatibus?</p><br><br>

    </div>
    </div>
    <div>
        <p class="direitos"><b>Todos os direitos reservados</b></p>

    </div>
</body>

</html>

{%endblock%}