{%extends 'base.html'%}
{%block title%} Quem somos {%endblock%}
{%block content%}

<body style="background-image: url(./static/imagens/fundo2.png)">
    <div class="container">
        <div>
            <img src="./static/imagens/logo.png" alt="logo">
        </div>
        <div>
            <span>
                <a href="/">Home</a>&nbsp;|&nbsp;
                <a href="/quemsomos">Quem somos</a>&nbsp;|&nbsp;
                <a href="/contato">Contato</a>
            </span>
        </div>

        </div>
    <div>
        <h2>Quem somos</h2><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita iusto, facilis ratione assumenda numquam optio qui, explicabo quasi suscipit culpa nesciunt voluptates porro laborum et cupiditate placeat incidunt, ex odio.</p>
    </div>
    <div>
        <h2>5 Motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
    </div>
    <hr>
    <div>
        <h2>Objetivos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rerum perspiciatis cupiditate sequi odit, quos dignissimos? Sint corrupti minima nulla quaerat debitis adipisci alias aut nobis provident, exercitationem ex accusamus.</p>
        <p class="direitos"><b>Todos os direitos reservados</b></p>
    </div>
</body>
{%endblock%}